<div class="content">
  <h1>
    <span class="googlered">B</span><span class="googleyellow">r</span><span class="googleblue">o</span><span class="googlegreen">w</span><span class="googlered">s</span><span class="googleblue">e</span><span class="googlered">r</span>
    <span class="googleyellow">H</span><span class="googleblue">i</span><span class="googlegreen">s</span><span class="googlered">t</span><span class="googleblue">o</span><span class="googlered">r</span><span class="googleyellow">y</span>
  </h1>

  <h3>
    <span class="googlered">U</span><span class="googleyellow">p</span><span class="googleblue">l</span><span class="googlegreen">o</span><span class="googlered">a</span><span class="googleblue">d</span>
    <span class="googlered">y</span><span class="googleyellow">o</span><span class="googleblue">u</span><span class="googlegreen">r</span>
    <span class="googlered">g</span><span class="googleyellow">o</span><span class="googleblue">o</span><span class="googlegreen">g</span><span class="googlered">l</span><span class="googleblue">e</span>
    <span class="googlered">c</span><span class="googleyellow">h</span><span class="googleblue">r</span><span class="googlegreen">o</span><span class="googlered">m</span><span class="googleblue">e</span>
    <span class="googlered">h</span><span class="googleyellow">i</span><span class="googleblue">s</span><span class="googlegreen">t</span><span class="googlered">o</span><span class="googleblue">r</span><span class="googlered">y</span>
    <span class="googlered">h</span><span class="googleyellow">e</span><span class="googleblue">r</span><span class="googlegreen">e</span>.
  </h3>

  <form id="target" enctype="multipart/form-data" action="/" method="POST">
    <input type="file" name="myFile" class="">
    <input type="submit" class="btn btn-success">
  </form>

  <script>
    $("#target").submit(function(event){
      if ($("form input")[0].files.length < 1) {
        event.preventDefault();
      }
    });
  </script>

  <br>
    <p>
      <span class="googlered">Instructions:</span>
        <ol>
          <li>Go to <a href="https://takeout.google.com/settings/takeout">Google Takeout</a>
          select only Chrome then click the next button at the bottom of the page.</li>
          <li>Choose how you would like to recieve your Chrome history back from google and then click on Create archive.</li>
          <li>Then open the archive via the median you chose previously and download.</li>
          <li>Select the BrowserHistory.json file underneath the Chrome folder and upload it above.</li>
        </ol>
      <br>
      You will then have a graphical representation of your browser history broken out by
      Search, Email, Development, Financial, Travel, and Work.
      An example of what will be rendered is below.
    </p>
</div>
<br>
<div class="imageexample">
  <img src="example.png" alt="Browser History" class="image">
</div>
